<!DOCTYPE html>
<html ng-app="quoteBook">
  <head>
    <meta charset="utf-8">
    <title>Words from the Wise</title>

    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-controller="mainCtrl">

    <div class="title">Words from the Wise</div>

    <!-- Add, Remove, filter quotes -->
    <input type="text" placeholder="Add new quote!" ng-model="text">
    <input type="text" placeholder="Quotes author!" ng-model="author">
    <button ng-click="addNewQuote({text: text, author: author})">Add Quote</button>
    <div>
      Filter: <input type="text" ng-model='filterText'/>
    </div>

    <p ng-repeat = "quote in quotes | filter: filterText"></p>

    <p ng-repeat = "quote in quotes track by $index">
      <span class = 'text'> {{quote.text}} </span>
    <span class = 'author'> -- {{quote.author}}</span>
    <button ng-click = "deleteMe(quote.text)">Delete</button>
  </p>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="//code.angularjs.org/1.5.8/angular-cookies.js"
></script>
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/dataService.js"></script>
  </body>
</html>
